/*
Alleen bedoelt voor layout!
Dus niet voor styling van text etc
Probeer het gebruik van niet responsive units zoals px te vermijden.
- Melvin
*/

/* global */
* { padding: 0; margin: 0; box-sizing: border-box;} /* reset UA padding & margins */

/* content wrapper */
.container{
    width: 80%;
    margin: 0 auto;
}

/* header */
header{
    width: 100%;
    /* ensure spacing between content and header */
    margin-bottom: 20px;
}

/* nav */
nav{
    width: 100%;
    display: flex;
    /* ensure proper vertical alignment */
    align-items: center;
}

nav #logo-container a{
    padding: 0 10px;
    display: inline-block;
}

nav #logo-container a svg{
    vertical-align: middle;
}

nav ul{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav li{
    justify-content: space-around;
    flex: auto;
    text-align: center;
    line-height: 50px;
}

/* news */
#news {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

#news article{
    padding: 0 20px 15px 0;
}

/* responsiveness */
/* Rubric:
Hanteer 2 breakpoints:  480px en 1024px.
Dit zorgt ervoor dat je de website op Mobiel (max 480),
tablet (max 1024) en Desktop ( > 1024) aanpast. 
*/

/* Phone Screens */
@media only screen and (max-width: 480px) {
    /* make container fill entire page if screen is small */
    .container { width: 90%;}
    nav, nav ul{
        flex-direction: column;
    }

    nav #logo-container{
        text-align: center;
        margin-top: 10px;
    }
}

/* Tablet Screens */
@media only screen and (min-width: 480px) and (max-width: 1024px) {
    .container { width: 90%;}

    /* set articles on tablet half width */
    #news article{
        width: 50%;
    }
    /* set first child on tablet full width */
    #news article:first-child{
        width: 100%;
    }
}

/* Desktop Screens */
@media only screen and (min-width: 1024px){
    /* set article 1/3rd width on desktop*/
    #news article{
        width: 33.3333%;
    }
    
    /* set first child 2/3rd width on desktop */
    #news article:first-child{
        width: 66.6666%;
    }
}