/*
Alleen bedoelt voor layout!
Dus niet voor styling van text etc
Probeer het gebruik van niet responsive units zoals px te vermijden.
- Melvin
*/

/*
    Global
*/

/* reset UA padding & margins */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  border: 0;
}

body {
  display: flex;
	flex-direction: column;
	
	/* to make stuff like about page possible, at full height */
  position: absolute;
  height: 100%;
  width: 100%;
}

/* content wrapper */
.container {
  /* Default Container width */
  width: 80%;
  /* pull to the center */
  margin: 0 auto;
}

/* ensure spacing between sections */
section {
  margin: auto auto;
}

/* header */
header {
  width: 100%;
}

.container #news-title {
  text-align: center;
  width: 100%;
  padding: 20px 0;
}

/*
    Navigation
*/
nav {
  width: 100%;
  display: flex;
  /* ensure proper vertical alignment */
  align-items: center;
}

/* flex alignment of nav */
nav #menu-container,
nav #social-nav ul,
nav ul {
  display: flex;
}
/* Align the menu horizontally be default */
nav #menu-container ul,
nav #social-nav ul {
  flex-direction: row;
}
/* Vertically center logo's  */
nav #logo-container a svg,
nav #social-nav .social-logo {
  vertical-align: middle;
}

nav li {
  /* make sure the space around the elements is equal */
  justify-content: space-around;
  /* Default */
  flex: auto;
}

nav #logo-container a {
  padding: 0 30px;
  display: inline-block;
}

nav li {
  text-align: center;
  line-height: 65px;
}

/* improve clickable area */
nav li a {
  padding-top: 15px;
  padding-bottom: 15px;
}

nav #social-nav .social-logo {
  width: 35px;
}

/* nav dropdown */

/* don't show dropdown by default */
nav ul.dropdown-menu {
  display: none;
  background-color: #4c4c4c;
  z-index: 9999;
}

nav li:hover .dropdown-menu {
  display: block;
}

/*
    Hero
*/
#hero video,
#hero img {
  width: 100%;
}

#hero img {
  max-height: 350px;
}

#hero {
  text-align: center;
  position: relative;
  z-index: -9999;
}

#hero #hero-description {
  position: absolute;
  top: 30%;
  left: 0;
  width: 100%;
  display: inline-block;
}

#hero #hero-description p {
  padding-top: 15px;
}

/* News */
#news,
#news article,
#news article .article-content{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

#news article,
#news article .article-content{
  flex-direction: column;
}

/* Reverse the row and alight text for even articles */
#news article:nth-child(even) .article-content{
  flex-direction: row-reverse;
  text-align: right;
}

/* pull other elements to the right as well */
#news article:nth-child(even) {
  align-items: flex-end;
}

/* half width for normal articles */
#news article{
  padding: 20px 30px;
  margin-bottom: 30px;
  min-height: 300px;

  /* vertically align the article if there's space left */
  justify-content: space-around;
}

/* make use of wrapping to get title on top */
#news article h1{
  font-size: 1.8rem;
  padding-bottom: 15px;
}

#news article .article-content{
  /* make sure it takes up all space if there's any left */
  flex-grow: 3;
}

#news article .article-content p{
  height: 100%;
  width: 100%;
  word-wrap: break-word;
}

#news .article-image{
  height: 100%;
  width: 30%;

  background-size: cover;
  background-position: center;
}

/* if article contains article image. Set the image to 30% */
#news .article-content > .article-image{
  width: 30%;
}

/* If the .article image has the general sibbling paragraph (the article text) set it to 70% */
#news .article-content .article-image ~ p{
  width: 70%;
  padding: 0 15px;
}

/* Featured News */
#featured-news {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

#featured-news article {
  padding-bottom: 25px;
  padding-right: 20px;
}

/*
    Contact Form
*/

#contactform ul,
#contactform form,
#contactform div {
  display: flex;
}

#contactform form,
#contactform ul {
  flex-direction: column;
}

#contactform ul li {
  padding: 20px 10px;
  width: 100%;
  text-align: left;
}

#contactform {
  padding: 30px 50px;
  width: 75%;
  display: flex;
  justify-content: center;
}

#contactform ul li input[type="text"] {
  width: 100%;
}

#contactform form {
  width: 80%;
}

#contactform textarea,
#contactform li > textarea {
  width: 100%;
}

#contactform button {
  padding: 15px 10px;
}

/*
    About
*/
#hero-shutter {
  display: flex;
  width: 100%;
  flex-direction: column;
}

#hero-shutter .hero-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  background-position: right;
  background-size: cover;

  /* vertical layout */
  height: 400px;
}

#hero-shutter .hero-slide:last-child {
  border-bottom: none;
}

#about {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  text-align: center;
}

/* responsiveness | MEDIA QUERIES */
/* Rubric: Hanteer 2 breakpoints:  480px en 1024px. */

/* Phone Screens */
@media only screen and (max-width: 480px) {
  /* make container fill entire page if screen is small */
  .container {
    width: 100%;
  }

  .hidden-phone {
    display: none;
  }

  /* nav */

  nav,
  nav ul {
    flex-direction: column;
  }

  nav #menu-container {
    width: 100%;
  }

  nav #menu-container ul {
    flex-direction: column;
  }

  nav #logo-container {
    text-align: center;
    margin-top: 10px;
  }

  nav ul {
    width: 100%;
  }

  nav ul.dropdown-menu {
    width: 100%;
    margin: 0 auto;
  }

  nav ul.dropdown-menu li {
    width: 100%;
    background-color: grey;
    border-bottom: 1px solid black;
  }

  nav ul.dropdown-menu li:last-child {
    border: none;
  }

  /* Featured News */

  #featured-news {
    padding: 0 25px;
  }

  #featured-news #news-title {
    text-align: left;
  }

  /* hero */

  /* We can't show the hero on phone
       Nobody wants a video on the main page on the phone
    */
  nav #social-nav {
    width: 90%;
  }

  /* Contact Form */

  #contactform .form-name {
    flex-direction: column;
  }

  /* set everything full width */
  #contactform,
  #contactform ul li,
  #contactform ul li input[type="text"],
  #contactform ul li textarea {
    width: 100%;
  }

  #contactform {
    padding: 20px 0;
  }

  #contactform .form-radio {
    flex-direction: column;
  }

  /* hero slider */

  #hero-shutter {
    flex-direction: column;
  }

  #hero-shutter .hero-slide {
    width: 100%;
    /* Use a trick to set cover the background if it's a phone screen */
    box-shadow: inset 0 0 0 2000px rgba(34, 34, 34, 0.8);
  }

  #hero-shutter .hero-slide h1,
  #hero-shutter .hero-slide article {
    display: block !important;
    opacity: 1 !important;
  }

  /* news */

  /* Reverse the row and alight text for even articles */
  #news article:nth-child(even) .article-content{
    flex-direction: row;
    text-align: left;
  }

  /* pull other elements to the right as well */
  #news article:nth-child(even) {
    align-items: flex-start;
  }

  /* if article contains article image. Set the image to 30% */
  #news .article-content > .article-image{
    display: none;
  }

  /* If the .article image has the general sibbling paragraph (the article text) set it to 70% */
  #news .article-content .article-image ~ p{
    width: 100%;
    padding: 0;
  }

    /* half width for normal articles */
  #news article{
    padding: 20px 30px;
    margin-bottom: 0;
    /* reset min-height for phones */
    min-height: auto;
  }
  /* reset news margin if on phone */
  #news{
    margin: 0;
  }
}

/* Tablet Screens */
@media only screen and (min-width: 480px) and (max-width: 1024px) {
  .container {
    width: 90%;
  }

  /* nav */
  nav,
  nav ul {
    flex-direction: column;
  }

  nav #social-nav {
    width: 50%;
  }

  nav #logo-container {
    text-align: center;
    margin-top: 10px;
  }

  nav ul li > ul.dropdown-menu {
    position: absolute;
    background-color: #4c4c4c;
    z-index: 9999;
    margin-left: -100px;
  }

  /* improve clickable area */
  nav ul li:hover > ul.dropdown-menu a {
    padding: 15px 100px;
  }

  nav ul li ul.dropdown-menu li {
    border-bottom: 1px solid white;
    display: block;
  }

  nav ul li ul.dropdown-menu li:last-child {
    border-bottom: 0;
  }

  /* hero */
  /* override container width for hero */
  #hero {
    width: 100%;
  }

  /* featured news */
  /* set articles on tablet half width */
  #featured-news article {
    width: 50%;
  }

  /* set first child on tablet full width */
  #featured-news article:nth-of-type(1) {
    width: 100%;
  }

  /* Contact Form */

  #contactform {
    width: 100%;
    height: 100%;
  }
}

/* Desktop Screens */
@media only screen and (min-width: 1024px) {
  /* nav*/
  /* pull social-nav to the right on desktop screens */
  nav #social-nav {
    margin-left: auto;
    padding-right: 10px;
  }

  /* news */
  /* set article 1/3rd width on desktop*/
  #featured-news article {
    width: 50%;
  }

  nav ul li ul.dropdown-menu li {
    border-bottom: 1px solid white;
  }

  nav ul li ul.dropdown-menu li:last-child {
    border-bottom: 0;
  }

  /* technisch gezien styling maar we willen maar een plek voor media queries */
  #hero video {
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border: 1px solid black;
  }

  nav ul li > ul.dropdown-menu {
    position: absolute;
    margin-left: -25px;
    padding: 0 20px;
  }

  nav ul.dropdown-menu {
    border-top: none !important;
  }

  nav:hover #valorant-logo-right {
    fill: rgb(240, 178, 64);
    transition: 0.3s;
  }

  /* Contact Form */
  #contactform {
    margin-top: 30px;
    border: none;
    border-radius: 10px;
  }

  /* Hero Shutter */
  #hero-shutter {
    flex-direction: row;
    height: 100%;
  }

  #hero-shutter .hero-slide {
    border-top: none;
    border-left: none;
    border-right: 1px solid white;
    border-bottom: none;
    width: 25%;
    height: 100%;
  }

  #hero-shutter .hero-slide:last-child {
    border-right: none;
  }

  #hero-shutter .hero-slide:hover {
    width: 30%;
  }
}
