/*
Bedoelt voor styling
Uiteindelijk hebben we hiervan twee verschillende nodig om een ander uiterlijk aan de website te geven.
Houd het dus zo algemeen mogelijk en gebruik geen responsiveness
*/

/* Rubric: 
Alternatieve Tekst pagina. Andere layout,
zelf te bepalen maar moet wel substantieel anders zijn dan de voorgaande Tekstpagina. 
*/

/* global styles */
/* reset general list styles */

/* import roboto font */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  font-family: 'Roboto', sans-serif;
  background-color: #ece8e1de;
}

/* set all list to have no style type (dots) */
li { list-style-type: none; }

/* somehow color worked on other browsers intead of fill */
#valorant-logo-left,
#valorant-logo-right {
  fill: #ff4656;
  color: #ff4656;
}

/* Text Selection Style */
*::selection {
  color: #ff4656;
  background: white;
}

/* header */
header {
  background-color: rgba(0, 0, 0, 0.8);
  border-bottom: 2px solid #ff4656;
}

/* nav */

nav ul li {
  padding: 0 10px;
}

nav ul.dropdown-menu{
  background-color: #4c4c4c;
}

/* Nav link styling */
nav a {
  color: white;
  text-decoration: none;
  text-align: center;
}

nav li:hover > a {
  color: #ff4656;
}

nav ul.dropdown-menu {
  border-top: 1px solid red;
}

/* set hover animation */
#social-nav li:hover .social-logo{
  animation: social-hover .4s ease-in-out;
}


/* hero */
#hero {
  color: #fff;
}

#hero h1 {
  font-size: 6vw;
  text-shadow: 2px 2px #ff4656;
}

#hero p {
  font-size: 2.2vw;
  text-shadow: 2px 1px #000;
}

/* news */
#news article h1 a{
  color: #ff4656;
  text-decoration: none;
}

#news article h1 a:hover{
  color:#dc2c3bd5;
}

/* Set background color and put a nice rounded border */
#news article{
  background-color: rgba(100,100,100, .2);
  border-radius: 5px;
}

#news article:nth-child(even){ animation: news-fadein-right .6s; }
#news article:nth-child(odd){ animation: news-fadein-left .6s; }

#news .article-image{
  border-radius: 5px;
  box-shadow: 1px 1px 1px 1px black;
}

#news #valstrike-article{
  background-image: url(../assets/images/Val1stStrike.png);
  /* make sure image zooms nicely */
  background-position: top right 25%;
}

#news #raze-article{
  background-image: url(../assets/images/Banner_RZE_JTT.jpg);
  /* make sure image zooms nicely */
  background-position: top left 40%;
}

/* manually create a list item bullet */
#news .article-text li::before{
  font-size: 1.5em;
  content: "\2022";
  color: #ff4656;
  font-weight: bold;
  display: inline-block;
  /* Fix Spacing */
  width: 0.3em;
  margin-left: 10px;
  margin-right: 10px;
}



/* featured news */

/* shared big title*/
#news-title {
    font-size: 3rem;
    color: #ff4656;
    text-shadow: 1px 1px 1px black;
  }

#featured-news article > h1 {
  font-size: 25px;
  /* ensure the header always has enough space to its paragraph */
  padding-bottom: 6px;
}

/* header link styling */
#featured-news article > h1 a {
  color: #2b2b2b;
  text-decoration: none;
}

/* featured news title hover */
#featured-news article > h1 a:hover {
  color: #ff4656;
}

/* Ensure paragraph has line-wrapping */
#featured-news article > p {
  font-size: 16px;
  white-space: pre-line;
}


/* shared between featured news and normal news */
p.author {
  padding-top: 10px;
  padding-left: 10px;
  font-style: italic;
  color: grey;
}

/* put a nice - in front of the authour tag */
p.author:before {
  content: "- ";
}



/* Contact Form */
#contactform {
  background-color: #302f2e;
  color: white;
}

#contactform h1 {
  text-align: center;
  padding-bottom: 20px;
}

#contactform input {
  /* reset the background for input fields */
  background: none;
  /* get a nice little line going under the input fields */
  border-bottom: 1px solid #ff4656;
  padding-bottom: 2px;
}

/* I prefer to have one place to set my element colors */
#contactform input::placeholder,
#contactform input {
  color: rgb(202, 202, 202);
}

/* make the textarea rounded and give it some padding */
#contactform textarea {
  padding: 5px;
  border-radius: 5px;

  background-color: rgb(202, 202, 202);
}

/* fade in yellow underline once input is focused */
#contactform input:focus {
  border-bottom: 1px solid orange;
  transition: 0.2s;
  outline: none;
}

/* remove outline of focused field */
#contactform textarea:focus {
    outline: none;
    box-shadow: 0px 0px 2px 1.5px #ff4656;
}

#contactform button {
  border-radius: 10px;
  padding: 10px 30px;
  font-weight: bold;
  background-color: #ff4656d5;
  color: white;
}

#contactform button:hover {
  color: white;
  background-color: #dc2c3bd5;
}

#contactform .form-gender select{
  color: white;
  background-color: #302f2e;
  border: 1px solid white;
  border-radius: 3px;
  padding: 3px 5px;
  margin-left: 5px;
}

#contactform .form-gender select:hover{
  border: 1px solid orange;
}

/*
    About
*/


#hero-shutter .hero-slide {
  /* fallback if there's no image */
  background-color: #939393;

  color: #fff;
  cursor: default;
  border-bottom: 1px solid white;
}

#hero-shutter .hero-slide:hover {
  /* Use a trick to set cover the background */
  box-shadow: inset 0 0 0 2000px rgba(34, 34, 34, 0.8);
}

/* Set shadows of titles and paragraphs */
#hero-shutter .hero-slide h1,
#hero-shutter .hero-slide h2 {
  text-shadow: 2px 2px 3px #000000;
  padding-bottom: 10px;
}

#hero-shutter .hero-slide p {
  text-shadow: 1px 2px 1px #171717;
}

/* remove underline of links and set colors */
#hero-shutter .hero-slide a {
  color: #fff;
  text-decoration: none;
}

#hero-shutter .hero-slide a:hover {
  text-shadow: -1px 2px 0px #171717;
  color: #dc2c3bd5;
}

#hero-shutter .hero-slide article {
  padding: 0 30px;
  display: none;
}

#hero-shutter .hero-slide:hover article {
  display: block;
}

/* Hide H1 on hover */
#hero-shutter .hero-slide:hover h1 {
  display: none;
}


/* Set backgrounds for individual slides */
#hero-shutter .hero-slide#one {
  background-image: url(../assets/images/pexels-thisisengineering-3861976.jpg);
}

#hero-shutter .hero-slide#two {
  background-image: url(../assets/images/pexels-suzy-hazelwood-1999352.jpg);
}

#hero-shutter .hero-slide#three {
  background-image: url(../assets/images/pexels-dio-hasbi-saniskoro-3280130.jpg);
}

/* contact slide */
#hero-shutter .hero-slide#four {
  background-image: url(../assets/images/pexels-chepté-cormani-1416530.jpg);
  background-position: center;
  text-align: left;
}

/* Fix vertical padding on list elements for the contact slide */
#hero-shutter .hero-slide#four li{
    padding: 4px 0;
}

/* Gallery */

#gallery article{
  background-color: rgb(0 0 0 / 65%);
  color: #fff;
  border-radius: 5px;
  box-shadow: black 1px 1px 1px 0px;
}

/* Card Titles
  I want to give every 'type of' card it's own title background color
*/

/* default */
#gallery article > title{
  background-color: grey;
}

#gallery article.weapon > title{
  background-color: #ff4656;
}

#gallery article.hero > title {
  background-color: orange;
}

#gallery article.map > title{
  background-color: #202b43;
}

/* big header title */
#gallery article > title {
  border-bottom: 1px solid #fff;
}

#gallery article .article-content > title{
  color: #fff;
  font-weight: bold;
  text-shadow: 2px 1px 0px rgb(66, 66, 66);
}

/* progress bar */
#gallery progress[value]::-webkit-progress-bar {
  background-color: #eee;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25) inset;
}

#gallery progress[value]::-webkit-progress-value {
  background-image:
	   -webkit-linear-gradient(left, orange, #ff4656);

    border-radius: 4px; 
}

#gallery .hero .ability > title{
  color: orange;
  font-weight: bold;
}

#gallery .hero .ability > title::after{
  color: #cacaca;
  font-weight: lighter;
}

#gallery .map-container:hover .map-overlay{
  animation: map-hover-in .5s linear;
  /* to keep the animation from resetting to its original state */
  animation-fill-mode: forwards;
}

/* Animations */

/* These slide in the news articles from the side.
  Left and right is self-explanatory.
  These are used with even and odd selectors.
*/
@keyframes news-fadein-left{
  from{
    transform: translateX(-300%);
  }
  to{
    transform: translateX(0%);
  }
}

@keyframes news-fadein-right{
  from{
    transform: translateX(300%);
  }
  to{
    transform: translateX(0%);
  }
}

/* These flip the logo alogn it's Y and Z axis 360 degrees.
  This is combined with the color change that wouldn't be easily doable inside keyframes.
*/

@keyframes flip-logo-in {
  from {
    transform: rotate3d(0, 0, 0, 0deg);
  }
  to {
    transform: rotate3d(0, 1, 1, 360deg);
  }
}

@keyframes flip-logo-out {
  from{
    transform: rotate3d(0, 1, 1, 360deg);
  }
  to{
    transform: rotate3d(0, 0, 0, 0deg);
  }
}

/* Slides in the map with a blur and grayscale
  I personally think this gives it a better 'swooshing' effect
*/
@keyframes map-hover-in{
  0%{
    filter: blur(5px) grayscale(100%);
    transform: translateX(0%);
  }
  30%{
    filter: blur(5px) grayscale(100%);
    transform: translateX(100%);
  }
  75%{
    filter: blur(0px) grayscale(100%);
  }
  100%{
    filter: blur(0) grayscale(0%);
    transform: translateX(100%);
  }
}

/* simply rotates an image along it's Y axis 360 degrees */
@keyframes social-hover {
  from{
    transform: rotate3d(0,0,0, 0deg);
  }
  to{
    transform: rotate3d(0,1,0, 360deg);
  }
}