/*
Bedoelt voor styling
Uiteindelijk hebben we hiervan twee verschillende nodig om een ander uiterlijk aan de website te geven.
Houd het dus zo algemeen mogelijk en gebruik geen responsiveness
*/

/* Rubric: 
Alternatieve Tekst pagina. Andere layout,
zelf te bepalen maar moet wel substantieel anders zijn dan de voorgaande Tekstpagina. 
*/

/* global styles */
body{
    font-family: sans-serif;
    background-color: #ece8e1DE;
}

/* header */
header{
    background-color: rgba(0, 0, 0, .8);
    box-shadow: 0px -6px 2px 7px #ff4656;
}

/* nav */

nav ul li {
    padding: 0 10px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    text-align: center;
}

nav ul li a:hover{
    color: lightgrey;
}


/* articles */
section#news article > h1 {
    font-size: 1.3rem;
}