/*
Bedoelt voor styling
Uiteindelijk hebben we hiervan twee verschillende nodig om een ander uiterlijk aan de website te geven.
Houd het dus zo algemeen mogelijk en gebruik geen responsiveness
*/

/* Rubric: 
Alternatieve Tekst pagina. Andere layout,
zelf te bepalen maar moet wel substantieel anders zijn dan de voorgaande Tekstpagina. 
*/

/* global styles */
body {
  font-family: sans-serif;
  background-color: #ece8e1de;
}

#valorant-logo {
  fill: #ff4656;
}

/* Text Selection Style */
*::selection {
  color: #ff4656;
  background: white;
}

/* header */
header {
  background-color: rgba(0, 0, 0, 0.8);
  box-shadow: 0 1px 3px 1px #000;
}

/* nav */

nav ul {
  /* remove dot listing */
  list-style: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  padding: 0 10px;
}

nav ul li a {
  color: white;
  text-decoration: none;
  text-align: center;
}

nav ul li:hover > a {
  color: #ff4656;
}

nav ul.dropdown-menu {
  border-top: 1px solid red;
}

/* hero */
#hero {
  z-index: -9999;
}

#hero h1 {
  font-size: 6vw;
  color: #fff;
  text-shadow: 2px 2px #ff4656;
}

#hero p {
  font-size: 20px;
  color: #fff;
  text-shadow: 2px 1px #000;
}

/* articles */

#news article > h1 {
  font-size: 25px;
  /* ensure the header always has enough space to its paragraph */
  padding-bottom: 6px;
}

#news article > h1 a {
  color: #2b2b2b;
  text-decoration: none;
}

#news article > h1 a:hover {
  color: #ff4656;
}

/* Ensure paragraph has line-wrapping */
#news article > p {
  font-size: 16px;
  white-space: pre-line;
}

#news article > p.author {
  padding-top: 15px;
  font-style: italic;
  color: grey;
}

/* put a nice - in front of the authour tag */
#news article > p.author:before {
  content: "- ";
}
